<ng-container *ngIf="canEdit; else canReturn">
  <mat-card>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Product Name</mat-label>
        <input
          matInput
          #Pname
          [value]="productObj ? productObj.pName : ''"
          type="text"
          name=""
          id="pName"
          class="form-control"
          placeholder="Product Name"
          aria-describedby="helpId"
          placeholder="Ex. Iphone"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select me</mat-label>
        <mat-select #Pstatus [value]="productObj ? productObj.pStatus : ''">
          <mat-option value="In-Progress">In Progress</mat-option>
          <mat-option value="Dispatched">Dispatched</mat-option>
          <mat-option value="Delivered">Delivered</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="text-right">
        <ng-container *ngIf="productId; else showBtn">
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="onUpdateProduct(Pname, Pstatus)"
          >
            Update Product
          </button>
        </ng-container>
        <ng-template #showBtn>
          <button
            color="primary"
            mat-raised-button
            (click)="onAddProduct(Pname, Pstatus)"
            type="button"
          >
            Add Product
          </button>
        </ng-template>
      </div>
    </form>
  </mat-card>
</ng-container>
<ng-template #canReturn>
  <p class="alert alert-danger">
    The product <strong>{{ productObj ? productObj.pName : "" }}</strong> cannot
    be return
  </p>
</ng-template>
